# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
.DS_Store

# Build folders
/build/
app/build/

# External Native Build
.externalNativeBuild
.cxx

# Local properties
local.properties

# Captures
/captures/
